body {
  margin: 0;
  display: grid;
  width: 100%;
  height: 100vh;

  background-color: bisque;
  margin: 0;
}
header {
  background: beige;
  text-align: center;
  padding: 10px;
  margin: 0;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 20px;
  font-family: postable;
  color: goldenrod;
  border: rgb(63, 86, 166) solid 5px;
}
nav {
  text-align: center;
  padding: 15px;
  margin: 0;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 15px;
  font-family: postable;
}
main {
  margin: 0 auto;
  display: grid;

  gap: 10px;
  text-align: center;
  margin: 0;
}
div {
  display: grid;
  grid-template-columns: 1000px 600px 50px;
  column-gap: 35px;

  width: calc(1000px + 600px + 50px);
  p {
    border-color: goldenrod;
    border-width: 10px;
    border-right-style: dotted;
    border-left-style: dotted;
  }
}
main img {
  display: block;
  width: 100%;
  background-color: antiquewhite;
}
ul.thumbnails {
  margin: 20px;
  padding: 0;
  width: 1000px;
  float: left;
  clear: both;
  list-style: none;

  padding: 10px;
}
ul.thumbnails li {
  float: left;
  width: 52px;
  height: 52px;
  margin: 10px 30px;
  display: inline;
}
ul.thumbnails a {
  float: left;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
footer {
  text-align: center;
  margin-top: 50px;
  margin-left: 0;
  width: 100vw;
  height: 30vh;
  background-color: black;
  font-size: 1rem;
  color: white;
}
